- Criar conta no Github
- Aulas até 21h.

In [1]:
print("Hello Python world!")

Hello Python world!

In [2]:
print('1')

1

In [3]:
print(1)
print(2.10)

1
2.1

In [4]:
variavel_1='Luiz'
variavel_2='está programando com Python'

In [5]:
print(variavel_1)

Luiz

In [6]:
print(variavel_1,variavel_2)

Luiz está programando com Python

In [7]:
1+2

3

In [8]:
1+'1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
1+1.2

2.2

In [10]:
'1'+'1'

'11'

In [11]:
'1 ' + '1'

'1 1'

In [12]:
20/3

6.666666666666667

In [13]:
0/10

0.0

In [14]:
10/0

ZeroDivisionError: division by zero

In [12]:

for i in range(0,5):
    print(i)

0
1
2
3
4

In [18]:
    x=0
    for i in range(0,10):
        x=x+1
        print(x)

1
2
3
4
5
6
7
8
9
10

In [16]:
a=20/3

In [17]:
a/2

3.3333333333333335

In [11]:
vetor=[1]
vetor2=[1,2]
vetor3=[1,2,3]
vetor_vazio=[]

In [2]:
vetor*2

[1, 1]

In [4]:
print(vetor)
print(vetor2)

[1]
[1, 2]

In [5]:
vetor*vetor2

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
vetor2*vetor2

TypeError: can't multiply sequence by non-int of type 'list'

In [7]:
import numpy as np

In [15]:
np.multiply(v1,v2)

array([1])

In [16]:
v1=[1,1]
v2=[1,1]

In [17]:
np.multiply(v1,v2)

array([1, 1])

- Executar um loop 10 x de modo a multiplicar um vetor por outro vetor. Esse resultado deve ser multiplaco entre si.

In [ ]:
  x=0
    for i in range(0,10):
        x=x+1
        print(x)

In [30]:
import numpy as np 

vetor_1=[1,2]
vetor_2=[3,2]
vetor_3=[1,5]

for i in range(0,10):
    vetor_3=np.multiply(vetor_3,vetor_2)
    print(vetor_3)

[ 3 10]
[ 9 20]
[27 40]
[81 80]
[243 160]
[729 320]
[2187  640]
[6561 1280]
[19683  2560]
[59049  5120]